#header {
  height: 64px;
  background: #FFF;
  background-clip: border-box;
  box-shadow:inset 0px -15px 10px -22px #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#content {
  padding-top: 64px;
  height: 100%;
  width: 100%;
}

#logo {
  height: 50px;
  margin: 7px 0px 7px 30px;
  padding-top: 7px;
}


#trigger {
  position: absolute;
  top: 50%;
  z-index: 10;
  background: #FFF;
  width: 20px;
  height: 50px;
  border-radius: 0  100% 100% 0/ 50%;
  opacity: 0.5;
  border-left: 0px;
}

.collapsed {
  left: -2px;
}

.uncollapsed {
  left: 198px;
}

#trigger:hover {
  visibility: visible;
  opacity: 1;
}

#search {
  margin: 14px 0px 7px 0px;
}


#nav-brand {
  padding: 14px 15px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .markdown-body {
  	padding: 5px;
  }
}

.content-row {
  background: #FFF;
}


.markdown-body {
  overflow: auto;
  height: calc(100vh - 64px);
  padding: 40px 45px 40px 20px;
}

.markdown {
  padding: 40px 45px 40px 20px;
}

.menu {
  margin-top: 64px;
  height: calc(100vh - 64px);
  background: #FFF;
}
