.uncollapsed {
  left: 199px;
  opacity: 0.4;
}

.uncollapsed:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .markdown-body {
  	padding: 5px;
  }
}

.content-row {
  background: #FFF;
  height: 100%;
}


.markdown-body {
  height: calc(100vh - 64px);
}

.menu {
  margin-top: 64px;
  height: calc(100vh - 64px);
  background: #FFF;
}

.hideIcon {
  padding: 40px;
  border-radius: 10px;
  border: 1.5px solid #dddddd;
  transition: all 300ms ease-out;
}

.hover {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.blur {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  transition: all 0.3s ease-out;
}

body {
  margin-left: 1px;
}

html {
  overflow-y: hidden;
}

.left-hide {
  left: -40px;
}

.left-show {
  left: -5px;
}

.right-hide {
  right: -40px;
}

.right-show {
  right: -5px;
}
