#editor {
  hight: 100%;
  width: 50%;
  background: #1E2126;
  box-sizing: border-box ; position: relative;
}

#reader {
  height: 100%;
  width: 50%;
  background: #CCCCCC;
}

#tools {
  position: absolute;
  top: 0;
  width: 100%;
  background: red;
  height: 42px;
  background: #1C1C1E;
  border-bottom: 1px solid #343434;
  padding-left: 5px;
}

.toolsButton{
  background: #1C1C1E;
  color: #CCCCCC;
  border: 0;
  margin: 5px;
}

#numCol {
  width: 70px;
  background: #1E2126;
  border-right: 1px solid #343434;
}

.infoRow {
  position: absolute;
  bottom: 0;
  background: #1C1C1E;
  border-top: 1px solid #343434;
  width: 100%;
  color: #CCCCCC;
  font-size: 13px;
  padding: 5px;
  user-select: none;
}

#inputContent {
  height: 100%;
  width: 100%;
  padding-top: 42px;
}

.inputRow {
  position: relative;
  width: 100%;
  display: flex;
}

.lineNumber {
  color: #393e46;
  font-size: 18px;
  position: relative;
  user-select: none;
  text-align: right;
  width: 50px;
  left: -75px;
  padding-top: 1px;
}

.content {
  position: relative;
  left: -45px;
  color: #BEC4CD;
  font-size: 19px;
  width: 100%;
  cursor: text;
}

*::selection {
    background-color: #ABABAB;
    color: #BEC4CD;
}
