#header {
  height: 64px;
  background: #FFF;
  background-clip: border-box;
  box-shadow: rgb(240, 241, 242) 0px 2px 8px 0px;
}

#logo {
  height: 50px;
  margin: 7px 0px 7px 30px;
  padding-top: 7px;
}
